/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import './navbar.scss';
@import './sidebar.scss';
@import './fonts.scss';
@import './doc-card.scss';

:root {
  --ifm-background-color: var(--ifm-color-white);

  --ifm-breadcrumb-item-background-active: #efedfd;
  --ifm-breadcrumb-item-color-inactive: #bbbac2;
  --ifm-breadcrumb-separator: url('/nevermined/breadcrumb-arrow.svg');
  --ifm-breadcrumb-separator-size-multiplier: 2;

  --ifm-code-font-size: 14px;

  --ifm-font-family-base: Catalogue, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --ifm-font-family-monospace: 'PT Mono', SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  --ifm-footer-background-color: transparent;
  --ifm-footer-color: var(--ifm-color-black);
  --ifm-footer-link-color: var(--ifm-color-black);
  --ifm-footer-title-color: var(--ifm-color-primary);

  --ifm-color-primary: #2f12dc;

  --ifm-navbar-background-color: var(--ifm-color-white);
  --ifm-navbar-height: 74px;
  --ifm-navbar-link-color: var(--ifm-color-black);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary);

  --ifm-menu-color-background-active: rgba(47, 19, 220, 0.08);
  --ifm-menu-color-background-hover: rgba(47, 19, 220, 0.08);
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,1)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --ifm-menu-link-secondary-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(141, 148, 158, 1)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --ifm-menu-link-padding-horizontal: 0.5rem;

  --ifm-pre-line-height: 1.5rem;
  --ifm-pre-padding: 1.5rem;

  --ifm-table-border-color: #dbdbdb;
  --ifm-table-head-background: linear-gradient(
    107.16deg,
    #2f12dc 9.77%,
    #1ddef9 100%
  );
  --ifm-table-head-color: var(--ifm-color-white);

  --ifm-tabs-color-active-border: linear-gradient(
    107.16deg,
    #2f12dc 9.77%,
    #1ddef9 100%
  );
  --ifm-tabs-color-active: var(--ifm-color-black);
}

html,
body {
  background: var(--ifm-background-color) !important;
  color: unset !important;
}

header,
main,
footer {
  z-index: 1;
}

footer {
  ul.social-links {
    > li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer__col {
    flex-basis: 0 !important;
  }

  .footer__title {
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
  }
}

code {
  font-family: var(--ifm-font-family-monospace) !important;
  font-weight: 400;
  font-size: var(--ifm-code-font-size) !important;
  line-height: var(--ifm-pre-line-height) !important;
}

.main-wrapper {
  background-color: #fff;
  color: black;
  font-size: 1.125rem;
  line-height: 2rem;
  overflow: hidden;

  .container {
    z-index: 1;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 4rem;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 3rem;

    &.text--truncate {
      font-size: 35px;
    }
  }

  h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 2.5rem;
  }

  h4 {
    font-weight: bold;
    line-height: 2rem;
  }

  li {
    list-style-type: disc;
    margin-left: 20px;

    &.theme-doc-sidebar-item-link,
    &.theme-doc-sidebar-item-category {
      list-style-type: none;
    }
  }

  .table-of-contents__link {
    font-weight: bold;
  }

  p.text--truncate {
    margin-top: 15px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    line-height: 2em;
  }

  a.hash-link {
    color: var(--ifm-color-primary);
  }

  .table-of-contents__left-border {
    li {
      list-style-type: none;
    }
  }

  table {
    margin-bottom: 50px;
  }

  strong {
    font-weight: bold;
  }

  .text {
    color: var(--ifm-color-black);
    font-family: inherit !important;

    &--h1,
    &--h2,
    &--h3,
    &--h4,
    &--h4-caps {
      text-transform: none;
    }

    &--p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    &--error {
      color: red;
      display: block;
    }
  }
}

.overlay {
  background: url('/nevermined/backgrounds/home-bg.png') 50% bottom no-repeat;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;

  &::before {
    content: '';
    background: url('/nevermined/backgrounds/home-bg.png') 50% bottom no-repeat;
    background-color: transparent;
    transform: scaleX(-1);
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }
}

/* remove it once the breadcrumbs config is implemented
https://github.com/facebook/docusaurus/issues/6953
 */
ul.breadcrumbs {
  margin-bottom: 1.5em;

  .breadcrumbs__link {
    color: var(--ifm-breadcrumb-item-color-inactive);
  }

  .breadcrumbs__item--active {
    .breadcrumbs__link {
      color: var(--ifm-breadcrumb-color-active);
    }
  }

  .breadcrumbs__item {
    &:first-child {
      margin-left: 0;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &:not(:last-child):after {
      background: var(--ifm-breadcrumb-separator) center no-repeat;
    }
  }
}

.markdown {
  ul {
    li {
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: var(--ifm-link-color);
      }
    }
  }

  p {
    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: var(--ifm-link-color);
    }
  }

  table {
    thead {
      background: var(--ifm-table-head-background);

      th {
        background-color: unset;
        border-color: transparent;

        &:first-child {
          border-top-left-radius: 16px;
        }

        &:last-child {
          border-top-right-radius: 16px;
        }
      }
    }
  }
}

.tabs {
  .tabs__item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &--active {
      border-bottom-color: unset;
      border-image-source: var(--ifm-tabs-color-active-border);
      border-image-slice: 1;
    }
  }
}

.pagination-nav {
  &__label {
    color: var(--ifm-color-primary);
  }

  &__sublabel {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  &__link {
    border: none;

    &--next {
      .pagination-nav__label {
        background: linear-gradient(107.16deg, #2f12dc 9.77%, #1ddef9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}
