.theme-doc-sidebar-container,
main {
  --doc-sidebar-width: 363px;
}

.theme-doc-sidebar-container {
  > *:first-child {
    padding-top: 1rem;
  }
}

.menu {
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    &--active {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      padding: var(--ifm-menu-link-padding-vertical)
        var(--ifm-menu-link-padding-horizontal);
    }

    &--sublist {
      padding-left: 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: var(--ifm-color-black);

      &-caret {
        padding: 0;

        &::before {
          content: '';
          min-width: 1.25rem;
          background: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem;
          filter: var(--ifm-menu-link-sublist-icon-filter);
          height: 1.25rem;
          transform: rotate(180deg);
          width: 1.25rem;
          transition: transform var(--ifm-transition-fast) linear;
          padding: var(--ifm-menu-link-padding-vertical)
            var(--ifm-menu-link-padding-horizontal);
        }

        &::after {
          display: none;
        }
      }
    }
  }
}

.menu__list-item-collapsible {
  flex-direction: row-reverse;
}

li {
  &[class^='theme-doc-sidebar-item-category theme-doc-sidebar-item-category-level-'] {
    &:not([class*='1']) {
      > *[class='menu__list'] {
        position: relative;
        margin-left: 17px;

        &:before {
          content: ' ';
          background-color: rgba(211, 220, 228, 1);
          left: 0;
          bottom: 0;
          top: 0;
          width: 1px;
          position: absolute;
        }
      }

      > *[class='menu__list-item-collapsible'] {
        > *[class^='menu__link menu__link--sublist'] {
          font-weight: 400;
          color: var(--ifm-menu-color);
        }

        > *[class^='menu__link--sublist-caret'] {
          svg {
            path {
              fill: pink;
            }
          }
        }

        > *[class~="menu__link--sublist-caret"] {
          &:before {
            background: var(--ifm-menu-link-secondary-sublist-icon) 50% / 2rem 2rem;
          }
        }
      }
    }
  }
}

.main-wrapper {
  li.theme-doc-sidebar-item-category {
    margin-left: 0 !important;
  }

  li.theme-doc-sidebar-item-link {
    margin-left: 0;
  }
}
